<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8" />
  <title th:text="${pArticle.articleTitle}">文章标题</title>
</head>
<link rel="stylesheet" th:href="@{/blog/index/atricle.css}" />
<body>

<div class="note">
    <div class="post" >
        <div class="article">
            <h1  th:text="${pArticle.articleTitle}";>今年读的这8本书，彻底改变了我</h1>
            <div class="author">
                <div class="info">
                        <span class="name" th:text="${pArticle.articleAuthor}">MY麦子</span>
                </div>
                <div class="meta">
                    <span class="publish-time" th:text="${pArticle.articleTime}">2017.12.28 08:16 </span>
                    <span class="wordage">&nbsp;字数 <span th:text="${pArticle.wordage}">1000</span></span>
                    <span class="views-count">&nbsp;阅读 <span><span th:text="${pArticle.viewCount}">000</span></span>
                     <span class="likes-count">&nbsp;喜爱 <span><span th:text="${pArticle.likesCount}">100</span></span>
                </div>
            </div>
        </div>

        <div class="blog-content">

        </div>
    </div>
</div>
<script th:src="@{/jQuery/jquery-3.0.0.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var message = [[${pArticle.articleContent}]];
    console.log(message);
/*]]>*/
    $(".blog-content").html(message);
</script>
</body>
</html>