<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.smart.mapper.PuImgMapper" >

    <resultMap id="BaseResultMap" type="com.ace.smart.entity.PuImg" >
        <id column="img_id" property="imgId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="CHAR" />
        <result column="jpgurl" property="jpgurl" jdbcType="VARCHAR" />
        <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        img_id, user_id, type, jpgurl, upload_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from pu_img
        where img_id = #{imgId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserIdAndType" resultMap="BaseResultMap" parameterType="com.ace.smart.entity.PuImg" >
        select
        <include refid="Base_Column_List" />
        from pu_img
        where user_id = #{userId,jdbcType=VARCHAR} and type = #{type}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from pu_img
        where img_id = #{imgId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.ace.smart.entity.PuImg" >
        insert into pu_img (img_id, user_id, type, 
            jpgurl, upload_time)
        values (#{imgId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
            #{jpgurl,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.ace.smart.entity.PuImg" >
        insert into pu_img
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="imgId != null" >
                img_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="jpgurl != null" >
                jpgurl,
            </if>
            <if test="uploadTime != null" >
                upload_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="imgId != null" >
                #{imgId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=CHAR},
            </if>
            <if test="jpgurl != null" >
                #{jpgurl,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null" >
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ace.smart.entity.PuImg" >
        update pu_img
        <set >
            <if test="type != null" >
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="jpgurl != null" >
                jpgurl = #{jpgurl,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null" >
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ace.smart.entity.PuImg" >
        update pu_img
        set
            jpgurl = #{jpgurl,jdbcType=VARCHAR},
            upload_time = #{uploadTime,jdbcType=TIMESTAMP}
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>