<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.smart.mapper.PUserMapper" >

    <resultMap id="BaseResultMap" type="com.ace.smart.entity.PUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="r_name" property="rName" jdbcType="VARCHAR" />
        <result column="r_id" property="rId" jdbcType="BIGINT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="u_age" property="uAge" jdbcType="INTEGER" />
        <result column="u_address" property="uAddress" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="pswd" property="pswd" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="CHAR" />
        <result column="self_introduction" property="selfIntroduction" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_login_name, nickname, email, u_age, u_address, phone, pswd, create_time, 
        last_login_time, CASE STATUS WHEN '0' THEN '离线' WHEN '1' THEN '在线' END status, self_introduction
    </sql>

    <sql id="selectAllandRole" >
        pu.id, pu.user_login_name, pu.nickname, pu.email, pu.u_age, pu.u_address, pu.phone, pu.pswd, pu.create_time,
        pu.last_login_time, CASE pu.STATUS WHEN '0' THEN '离线' WHEN '1' THEN '在线' END status, pu.self_introduction,pr.r_name,pr.r_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="selectAllandRole" />
        from p_user pu
        LEFT JOIN u_user_role uur
        on pu.id = uur.uid
        LEFT JOIN p_role pr
        on uur.rid = pr.r_id
        where pu.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from p_user
        where user_login_name = #{value}
    </select>

    <select id="selectByIf" resultMap="BaseResultMap" parameterType="Map">
      SELECT
        <include refid="Base_Column_List"/>
        from p_user
       <where>
           <if test="id!=null">
               id= #{}
           </if>
           <if test="userLoginName!=null">
               user_login_name = #{userLoginName}
           </if>
           <if test="email!=null">
               email = #{email}
           </if>
           <if test="phone!=null">
               phone = #{phone}
           </if>
       </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="selectAllandRole"/>
        from p_user pu
            LEFT JOIN u_user_role uur
            on pu.id = uur.uid
            LEFT JOIN p_role pr
            on uur.rid = pr.r_id
        order by pu.create_time desc

    </select>

    <select id="countUser" resultType="java.lang.Integer">
        select count(id)
        from p_user
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from p_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from p_user where id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ace.smart.entity.PUser" >
        insert into p_user (id, user_login_name, nickname, 
            email, u_age, u_address, 
            phone, pswd, create_time, 
            last_login_time, status, self_introduction
            )
        values (#{id,jdbcType=BIGINT}, #{userLoginName,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
            #{email,jdbcType=VARCHAR}, #{uAge,jdbcType=INTEGER}, #{uAddress,jdbcType=VARCHAR}, 
            #{phone,jdbcType=VARCHAR}, #{pswd,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
            #{lastLoginTime,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{selfIntroduction,jdbcType=LONGVARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.ace.smart.entity.PUser" >
        insert into p_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userLoginName != null" >
                user_login_name,
            </if>
            <if test="nickname != null" >
                nickname,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="uAge != null" >
                u_age,
            </if>
            <if test="uAddress != null" >
                u_address,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="pswd != null" >
                pswd,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="lastLoginTime != null" >
                last_login_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="selfIntroduction != null" >
                self_introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userLoginName != null" >
                #{userLoginName,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null" >
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="uAge != null" >
                #{uAge,jdbcType=INTEGER},
            </if>
            <if test="uAddress != null" >
                #{uAddress,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pswd != null" >
                #{pswd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                #{lastLoginTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=CHAR},
            </if>
            <if test="selfIntroduction != null" >
                #{selfIntroduction,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ace.smart.entity.PUser" >
        update p_user
        <set >
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="uAge != null" >
                u_age = #{uAge,jdbcType=INTEGER},
            </if>
            <if test="uAddress != null" >
                u_address = #{uAddress,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="pswd != null" >
                pswd = #{pswd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="selfIntroduction != null" >
                self_introduction = #{selfIntroduction,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where user_login_name = #{userLoginName}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ace.smart.entity.PUser" >
        update p_user
        set user_login_name = #{userLoginName,jdbcType=VARCHAR},
            nickname = #{nickname,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            u_age = #{uAge,jdbcType=INTEGER},
            u_address = #{uAddress,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            pswd = #{pswd,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=VARCHAR},
            last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
            status = #{status,jdbcType=CHAR},
            self_introduction = #{selfIntroduction,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>