<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.smart.mapper.UUserMapper" >
    <resultMap id="BaseResultMap" type="com.ace.smart.entity.UUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="pswd" property="pswd" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="BIGINT" />
    </resultMap>

    <resultMap id="userRoleMap" type="com.ace.smart.entity.UUser">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="pswd" property="pswd" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="BIGINT" />
            <collection property="roles" ofType="com.ace.smart.entity.URole">
                <id column="rid" property="id" jdbcType="BIGINT" />
                <result column="rname" property="name" jdbcType="VARCHAR" />
                <result column="rtype" property="type" jdbcType="VARCHAR" />
                <collection property="uPermissions" ofType="com.ace.smart.entity.UPermission">
                    <id column="pid" property="id" jdbcType="BIGINT" />
                    <result column="url" property="url" jdbcType="VARCHAR" />
                    <result column="pname" property="name" jdbcType="VARCHAR" />
                </collection>
            </collection>
    </resultMap>

    <sql id="Base_Column_List" >
        id, nickname, email, pswd, create_time, last_login_time, status
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from u_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findUserRole" parameterType="java.lang.Long" resultMap="userRoleMap">
   select uu.id,uu.nickname,uu.pswd,uu.email,uu.create_time,uu.last_login_time,ur.id rid,ur.name rname,ur.type rtype,ups.id pid,ups.`name` pname,ups.url from u_user uu
    LEFT JOIN u_user_role uur on uu.id = uur.uid
    LEFT JOIN u_role ur on uur.rid = ur.id
	LEFT JOIN u_role_permission urp on ur.id = urp.rid
	LEFT JOIN u_permission ups on ups.id = urp.pid
    where uu.id = #{id}
    </select>

    <select id="checkUsername" parameterType="java.lang.Long" resultType="com.ace.smart.entity.UUser">
       SELECT id,pswd,nickname FROM u_user where id = #{id}
    </select>

    <select id="selectAllUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_user
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from u_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.ace.smart.entity.UUser" >
        insert into u_user (id, nickname, email, 
            pswd, create_time, last_login_time, 
            status)
        values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
            #{pswd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.ace.smart.entity.UUser" >
        insert into u_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="nickname != null" >
                nickname,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="pswd != null" >
                pswd,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="lastLoginTime != null" >
                last_login_time,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="nickname != null" >
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="pswd != null" >
                #{pswd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null" >
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ace.smart.entity.UUser" >
        update u_user
        <set >
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="pswd != null" >
                pswd = #{pswd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginTime != null" >
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ace.smart.entity.UUser" >
        update u_user
        set nickname = #{nickname,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            pswd = #{pswd,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>